
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>CustomerKhata</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/76416b86ac.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

</head>
<body>
	{%  include 'CustomerKhata/navbar.html' %}
	<div class="container-fluid">
	{% block content %}



	{% endblock %}
    </div>
	<hr>
	<footer>
		<div class="container">
			<div class="sec aboutus">
				<h2>About Us</h2>
				<p>Kissan Traders provides you the best range of berger paints, berger primer, waterproofing chemicals, berger paint, berger enamel paints & cpvc elbow with effective & timely delivery</p>
				<ul class="sci">
					<li><a href="https://wa.me/+919480262244"><i class="fab fa-whatsapp"></i></a></li>
					<li><a href="https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fsharer.php%3Fu%3Dhttps%253A%252F%252Fwww.indiamart.com%252Fkissantraders-sagar%252F&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&display=popup&locale=kn_IN"><i class="fab fa-facebook"></i></a></li>
					<li><a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.indiamart.com%2Fkissantraders-sagar%2F"><i class="fab fa-twitter"></i></a></li>
					<li><a href="#"><i class="fab fa-instagram"></i></a></li>
					<li><a href="https://www.linkedin.com/login?session_redirect=https%3A%2F%2Fwww.linkedin.com%2FshareArticle%3Furl%3Dhttps%3A%2F%2Fwww.indiamart.com%2Fkissantraders-sagar%2F"><i class="fab fa-linkedin-in"></i></a></li>
				</ul>
			</div>
			<div class="sec quickLinks">
				<h2>Quick Links</h2>
				<ul>
					<li><a href="https://www.indiamart.com/kissantraders-sagar/#aboutus">About Us</a></li>
					<li><a href="{% static 'files/kissan-traders.pdf' %}">Brochure</a></li>
					<li><a href="https://www.indiamart.com/kissantraders-sagar/enquiry.html">Contact Us</a></li>
					<li><a href="https://help.indiamart.com/">Help</a></li>
					<li><a href="https://www.indiamart.com/kissantraders-sagar/products.html">Product & Services</a></li>
				</ul>
			</div>
			<div class="sec contact">
				<h2>Contact Info</h2>
				<ul class="info">
					<li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span></li>
					<li><span>Mohan Jain<br>
						Kissan Traders, B.H.Road<br>
						Kargal, Sagara<br>
						Shimogga - 577421</span></li>
					<li><span><i class="fa fa-phone" aria-hidden="true"></i></span></li>
					<p><a href="tel:+919480262244">+919480262244</a><br>
					<a href="tel:+919591049655">+919591049655</a></p>
					<li><span><i class="fa fa-envelope" aria-hidden="true"></i></span></li>
					<p><a href="mailto:kissankargal@gmail.com">kissankargal@gmail.com</a></p>
				</ul>
			</div>
		</div>
	</footer>
	<div class="copyrightText">
		<p>Copyright © 1996-2021 Kissan Traders. All Rights Reserved.</p>
	</div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
	setTimeout(function(){
		if($('#msg').length > 0){
			$('#msg').remove();
		}
	},3000)
</script>
</html>