<style>
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #E6EE9C !important;
		}

		.card-header1 {
			background: #80CBC4;
		}

		.card-header2 {
			background: #C62828;
		}

		.card-header3 {
			background: #D1C4E9;
		}

		.card-title {
			color: #263238;
		}

</style>

<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="total-customers">
			  	<div class="card-header1">
			  		<h5 class="card-title">Total Customers</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_customers}} <i class="fas fa-users"></i></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="You-Will-Give">
			  	<div class="card-header2">
			  		<h5 class="card-title">You Will Give</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{yougive}} <i class="fas fa-rupee-sign"></i></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="You-Will-Get">
			  	<div class="card-header3">
			  		<h5 class="card-title">You Will Get</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{youget}} <i class="fas fa-rupee-sign"></i></h3>
			  	</div>
			</div>
		</div>
	</div>
</div>